<!DOCTYPE html>
<html id="top" lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="description"
    content="Suivez et répertoriez vos Pokémon shiny sur cette plateforme dédiée. Trouvez des renseignements utiles et partagez vos succès avec la communauté des shiny-hunters" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Floris Louërat" />

  <title>Welcome Bot!</title>
  <link rel="icon" href="{{ asset('favicon.svg') }}" />
</head>

<style>
  img {
    max-width: 100%;
max-height: 100vh;
  }
</style>

<body>
<img src="{{asset('img/bot.webp')}}" alt="You bot!">
</body>

</html>