{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/error.css')}}">
{% endblock %}

{% block title %}erreur {{errorCode}}{% endblock %}

{% block body %}
{# <img src="https://s1.zerochan.net/Smeargle.600.3286516.jpg" alt="error 404 queulorior"> #}

{# <img
  src="https://external-cdg4-2.xx.fbcdn.net/emg1/v/t13/11343721671984589502?url=https%3A%2F%2Fmedia3.giphy.com%2Fmedia%2Fv1.Y2lkPTc5MGI3NjExaTJjeXIydjZkcnFyOGFjMXI5bnd3cWtraDNpZ3FxNTM4Ym03cTNjYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw%2FqJOGfFBapFlSSRpbh4%2Fgiphy.gif&fb_obo=1&utld=giphy.com&stp=dst-gif_q75&ccb=13-1&oh=06_Q399AQPVybN1I6U8IVZZQRXctiOitbJ1iIwzkSQiQJeMCMI&oe=66A9B269&_nc_sid=9e3c15"
  alt="professor Seko poursuivi par un medhyena"> #}
<iframe src="https://giphy.com/embed/qJOGfFBapFlSSRpbh4" width="480" height="288" style="" frameBorder="0"
  class="giphy-embed" allowFullScreen></iframe>

<div>
  <p id="oups">Oups!</p>
  <p>La page que vous cherchez semble introuvable.</p>
  <p id="code-error">code d'erreur : <span>{{errorCode}}</span></p>
</div>
{% endblock %}