{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/error.css')}}">
{% endblock %}

{% block title %}erreur {{errorCode}}{% endblock %}

{% block body %}


<div class="iframe-container">
  <div class="overlay"></div>

  <iframe src="https://giphy.com/embed/qJOGfFBapFlSSRpbh4" width="480" height="288" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
</div>

<div>
  <p id="oups">Oups!</p>
  <p>La page que vous cherchez semble introuvable.</p>
  <p id="code-error">code d'erreur : <span>{{errorCode}}</span></p>
</div>
{% endblock %}