<h1>Bonjour! Vous voulez changer !</h1>

<p>
    Veuillez réinitialiser votre mot de passe en suivant ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Changer de mot de passe</a>.
    {# This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>

<p>
    A bientôt!
</p>