{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<nav>

  {% if is_granted('ROLE_ADMIN') %}
  {% endif %}

</nav>

{% if app.user is not empty %}
Bienvenue {{app.user.pseudo}}
{% else %}
Hello world !
{% endif %}

{% endblock %}