{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisation de mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Renseignez ici votre adresse e-mailet nous vous enverrons un mail de réinitialisation de mot de passe.
            </small>
        </div>

        <button class="">Envoyer un mail</button>
    {{ form_end(requestForm) }}
{% endblock %}
