:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
  --custom-ball-size: 40px;
}

#dresseurs-amis {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dresseur,
.dresseurs-header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  &>* {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.dresseur {
  &:nth-child(2n+1) {
    background-color: var(--lightblue);

    .pokeball-circle {
      background-color: var(--lightblue);
    }
  }

  &:last-of-type {
    border-bottom: 1px solid var(--lightblue);
  }
}

.dresseurs-header {
  font-weight: 600;
}

.user-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil-dresseur {
  justify-content: start;
}

.pseudo {
  color: var(--darkblue);
  font-weight: 600;
}

.dex-completion {
  justify-content: center;
  gap: 10px;

  i {
    color: var(--darkblue);
  }
}

.dresseur-links {
  grid-column: 6/8;
  justify-content: center;
  gap: 10px;
  text-align: center;

  i {
    font-size: 2rem;
    color: var(--darkblue);
  }
}

.del-ami {
  grid-column: 8;
  justify-content: center;
  background-color: rgb(230, 0, 0);
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: auto;
  padding: 5px 10px;
  text-decoration: underline;
  border-radius: 10px;
  transition: var(--transitionTime);

  &:hover {
    transform: scale(1.2);
  }

  .fa-trash-can {
    color: white;

    &:hover {
      transform: scale(1);
    }
  }
}

.menu-burger-ami {
  position: relative;
  height: 100%;
  grid-column: 7/9;
  font-size: 1.5rem;
  color: var(--darkblue);
  display: flex;
  justify-content: center;

  i {
    cursor: pointer;
  }
}



.dresseur-links-mobile {
  display: flex;
  top: 0;
  right: 0;
  transform: translate(-10%, -100%);
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px 10px;

  i {
    font-size: 2rem;
  }
}

.hide {
  display: none;
}

#demandes {
  i {
    font-size: 2rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: var(--darkblue);
    background-color: var(--lightblue);
  }

  .demande-links {
    display: flex;
    flex-direction: column;
    text-align: center;

    .accept-demand {
      color: white;
      background-color: var(--darkblue);
    }

    .refuse-demand {
      background-color: var(--lightblue);
      color: var(--darkblue);
    }
  }

  #demandes-recues a {
    padding: 5px 15px;
    margin: 3px 5px;
    border-radius: 10px;
  }

  #demandes-envoyees,
  #demandes-recues {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;

    .amis-envois,
    .amis-demandes {
      display: flex;
      max-width: 200px;
      gap: 5px;

      flex-direction: column;
      align-items: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      padding: 10px;
      border-radius: 8px;
    }
  }
}

figure {
  border-radius: 50%;
  background-color: var(--darkblue);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 60px;

  img {
    border-radius: 50%;
    background-color: white;
    height: 90%;
    overflow: hidden;
  }
}

@media screen and (min-width: 700px) {

  .profil-dresseur {
    flex-direction: row;
    margin-left: 15px;
    gap: 10px;
  }
}

@media screen and (max-width: 700px) {}

@media screen and (min-width: 500px) {
  .profil-dresseur {
    grid-column: 1/3;
  }

  .dex-completion {
    grid-column: 3/6;
  }

  .menu-burger-ami {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .profil-dresseur {
    grid-column: 1/4;
  }

  .dex-completion {
    grid-column: 4/7;
  }

  .del-ami {
    display: none;
  }

  .dresseur-links {
    display: none;
  }
}