.carousel {
  margin: 20px 0;
  position: relative;
  display: flex;
  align-items: center;

  .arrow {
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    color: var(--primary-color);
    display: none;
  }

  .cards-container {
    transition: var(--transitionTime);
    display: flex;
    gap: 10px;
  }
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .carousel {
    .arrow-left {
      left: -50px;
    }

    .arrow-right {
      right: -50px;
    }
  }
}

@media screen and (max-width: 900px) {
  .carousel {
    .arrow {
      border-radius: 50%;
      padding: 5px;
      background-color: var(--background-color);
    }

    .arrow-left {
      left: 10px;
    }

    .arrow-right {
      right: 10px;
    }
  }
}