:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
}

.custom-pokeball {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid #003BB3;

  /* box sizing counter effect */
  box-sizing: initial;

  * {
    box-sizing: initial;
  }

  .pokeball-circle {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 50%;
    border: 4px solid #003BB3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }


  .pokeball-center {
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: #003BB3;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .pokeball-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 18%;
    background-color: #003BB3;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}