.custom-pokeball {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--custom-icons-size);
  height: var(--custom-icons-size);
  border-radius: 50%;
  border: 2px solid var(--primary-color);

  /* box sizing counter effect */
  box-sizing: initial;
  transition: transform var(--transitionTime);

  * {
    box-sizing: initial;
  }

  .pokeball-circle {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: var(--background-secondary);
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    z-index: 2;
  }

  .pokeball-center {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: 3;
  }

  .pokeball-line {
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: var(--primary-color);
    z-index: 1;
  }

  &:hover {
    transform: scale(1.5) rotate(-15deg);
  }
}