#dresseurs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  text-align: center;
  justify-content: center;

  .dresseur {
    display: flex;
    width: 220px;
    gap: 15px;
    background-color: var(--cardSecondaryColor);

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 15px;
    border-radius: 8px;
  }

  .demande-links {
    height: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .send-demand {
      font-weight: 600;
    }
  }

  .dresseur a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
  }

  .user-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }

  .pseudo {
    color: var(--primary-color);
    font-weight: 600;
  }

  .demande-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 5px;

    .accept-demand {
      color: var(--background-color);
      background-color: var(--buttonsColor);
    }

    .refuse-demand {
      background-color: var(--secondary-color);
      transition: var(--transitionTime);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--primary-color);

      i {
        position: absolute;
        font-size: 1.5rem;
        text-align: center;
        color: transparent;
        transition: var(--transitionTime);
      }

      p {
        color: var(--primary-color);
        transition: var(--transitionTime);
      }

      &:hover {
        background-color: var(--red-main);
        border-color: transparent;

        p {
          color: transparent;
        }

        i {
          color: var(--background-color);
        }
      }
    }
  }
}

#dex-completion {
  border: 1px solid var(--primary-color);
  width: 90%;
  height: 25px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#completion-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background-color: var(--secondary-color);
}

figure {
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 60px;

  img {
    border-radius: 50%;
    background-color: var(--cardColor);
    height: 90%;
    max-width: 90%;
    overflow: hidden;
  }
}

.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 5px;

  span {
    display: flex;
    font-weight: 600;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    a {
      padding: 10px;
      background-color: var(--secondary-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .current {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px;
  }
}