#my-actives {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#last-captures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-shasse {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 15px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--cardColor);

  .pokemon-img {
    width: 100px;
  }

  .compteur {
    text-align: center;
    min-width: 50%;
    color: var(--primary-color);
    padding: 2px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
  }
}

.last-capture {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .pokemon-card {
    margin: 0;
  }
}

.pokemon-card .del-btn {
  display: none;
}

.pseudo-captures {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
  padding: 5px;
}

.capture-description {
  margin-bottom: 5px;
  padding-left: 15px;
}

.intro {
  text-align: center;
}