.modalNav {
  button {
    border: none;
    background-color: transparent;
  }

  i {
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transitionTime);

    &:hover {
      transform: scale(1.2);
    }
  }
}

dialog {
  margin: auto;
  min-width: 25%;
  border-color: var(--primary-color);
  background-color: var(--cardColor);
  color: black;

  .dialog-content {
    padding: 20px;
    text-align: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        &>button i,
        &>i {
          font-size: 2rem;
          margin: 0 10px;
        }

        div {
          display: block;
          width: auto;
          margin: 0;

          i {
            margin-right: 10px;
          }
        }

        &:last-of-type {
          justify-content: center;
        }
      }

      input {
        justify-self: flex-end;
      }
    }
  }
}

#avatarDialog {

  #avatar-preview {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: var(--primary-color);
    border-radius: 50%;

    img {
      background-color: var(--secondary-color);
      border-radius: 50%;
      height: 90%;
      width: 90%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }

    .avatar-container {
      flex-direction: column;

      &>* {
        width: fit-content;
      }

      label {
        align-self: center;
      }
    }
  }