:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
  --custom-ball-size: 40px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.main-card-content {
  display: flex;
}

.capture-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    margin: 3px 0;
    width: fit-content;
  }

  .chroma-container {
    display: flex;
    align-items: center;

    img {
      width: 50px;
    }
  }
}

.pokemon-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .pokemon-id {
    font-size: 2rem;
    font-weight: 600;
  }

  .capture-img-container {
    position: relative;

    .pokemon-img {
      width: 150px;
    }

    .ball-img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
      height: 30%;
    }
  }

  .captured-pokemon-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .capture-names {
      text-align: center;
      margin: 0 10px;
    }
  }
}

.compteur-container {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.compteur-input {
  width: 50%;
  border: 1px solid black;
}

.nbRencontres {
  color: #FF0000;
}

.lieu {
  color: #3CB371;
}

.jeu {
  color: #FF8C00;
}

.methode {
  color: #800080;
}

.fa-mars {
  color: blue;
}

.fa-venus {
  color: #E48BDB;
}

.fa-genderless {
  color: green;
}

.counter-buttons {
  margin: 10px 0;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--lightblue);
    border: 1px solid var(--darkblue);
  }
}