:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
  --custom-ball-size: 40px;
}

.pokemon-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.main-card-content {
  display: flex;
}

.capture-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 220px;

  div {
    margin: 3px 0;
    width: fit-content;
  }
}

.capture-infos-termine {
  height: 340px;
}

.pokemon-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .pokemon-id {
    font-size: 2rem;
    font-weight: 600;
  }

  .capture-img-container {
    position: relative;

    .pokemon-img {
      width: 150px;
    }

    .ball-img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
      height: 30%;
    }
  }

  .captured-pokemon-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .capture-names {
      text-align: center;
      margin: 0 10px;
    }
  }
}

.compteur-container {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.compteur-input {
  width: 50%;
  text-align: center;
  padding: 2px 0;
  margin: 5px 0;
  border: 2px solid black;
  border-radius: 10px;
  color: var(--darkblue);
  font-size: 1.2rem;
}

.nbRencontres {
  color: #FF0000;
}

.lieu {
  color: #3CB371;
}

.jeu {
  color: #FF8C00;
}

.methode {
  color: #800080;
}

.fa-mars {
  color: blue;
}

.fa-venus {
  color: #E48BDB;
}

.fa-genderless {
  color: green;
}

.counter-buttons {
  margin: 10px 0;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: var(--darkblue);
    font-weight: 600;
    border: 1px solid var(--darkblue);
    cursor: pointer;
    transition: var(--transitionTime);
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      right: 50%;
      bottom: 50%;
      background-color: var(--lightblue);
      transition: var(--transitionTime);
      z-index: 0;
      border-radius: 50%;
    }

    &:hover {
      &:before {
        left: -10%;
        top: -10%;
        right: -10%;
        bottom: -10%;
      }
    }

    span {
      position: relative;
      z-index: 1;
    }

  }
}

.stop_suivi {
  color: red;
  border: 2px solid red;
  padding: 5px 10px;
  border-radius: 12px;
  margin: 10px 0;
}

.del-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
}