@keyframes ballAnimation {
  0% {
    transform: rotate(-50deg);
  }

  10% {
    transform: rotate(50deg);
  }

  20% {
    transform: rotate(-40deg);
  }

  30% {
    transform: rotate(40deg);
  }

  40% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(20deg);
  }

  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.pokemon-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cardColor);
  color: black;
  width: 300px;
  max-width: 100vh;
  padding: 15px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: var(--primary-color) 3px 3px 10px -5px;
}

.main-card-content {
  display: flex;
}

.capture-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 220px;

  div {
    margin: 3px 0;
    width: fit-content;
  }

  hr {
    width: 100%;
  }
}

.pokemon-img {
  width: 100%;
}

.capture-infos-termine {
  height: 340px;
}

.pokemon-infos {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .pokemon-id {
    font-size: 2rem;
    font-weight: 600;
  }

  .capture-img-container {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .ball-img {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-50%);
    }
  }

  .captured-pokemon-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    .capture-names {
      text-align: center;
      margin: 0 10px;
    }
  }
}

.compteur-container {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.compteur-input {
  width: 50%;
  min-width: 100px;
  text-align: center;
  padding: 2px 0;
  margin: 5px 0;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  background-color: white;
  font-size: 1.2rem;

  &:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
  }
}

.form-like-compteur {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-loading {
  top: auto;
  left: 10%;
}

.nbRencontres {
  color: var(--dangerred);
  font-weight: 600;
}

.lieu {
  color: #906d0e;
}

.jeu {
  color: #008000;
  /* font-weight: 600; */
}

.methode {
  color: #b300b2;
}

.fa-mars {
  color: blue;
}

.fa-venus {
  color: #E48BDB;
}

.fa-genderless {
  color: green;
}

.pokemon-name {
  font-size: 1.2rem;
}

.surname {
  font-size: 0.8rem;
}

.counter-buttons {
  margin: 10px 0;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--cardColor);
    color: var(--darkblue);
    font-weight: 600;
    border: 1px solid var(--darkblue);
    cursor: pointer;
    transition: var(--transitionTime);
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      right: 50%;
      bottom: 50%;
      background-color: var(--secondary-color);
      transition: var(--transitionTime);
      z-index: 0;
      border-radius: 50%;
    }

    &:hover {
      &:before {
        left: -10%;
        top: -10%;
        right: -10%;
        bottom: -10%;
      }
    }

    span {
      position: relative;
      z-index: 1;
    }
  }
}

.stop_suivi {
  color: var(--dangerred);
  border: 2px solid var(--dangerred);
  padding: 5px 10px;
  border-radius: 12px;
  margin: 10px 0;
}

#links-btns {
  position: absolute;
  top: 15px;
  right: 15px;
  gap: 15px;
  display: flex;
  font-size: 1.2rem;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-share-from-square {
    cursor: pointer;
    transition: var(--transitionTime);
    color: var(--darkblue);

    &:hover {
      transform: scale(1.5);
    }
  }


  .del-btn {
    color: var(--dangerred);
  }

}

.shasse-trouve {
  background: transparent;
  border-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transitionTime);
  padding: 0;
  margin: 5px;

  img {
    height: 36px;
    filter: grayscale(1);
    transition: var(--transitionTime);
  }

  &:hover {
    transform: scale(1.25);
    border-color: transparent;
    overflow: visible;
    padding: 5px;
    margin: 0;
    animation: ballAnimation 1.3s linear infinite;

    img {
      transform: scale(1.5);
      display: block;
      filter: grayscale(0);
    }
  }
}