#pokedex-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &>a {
    &:hover .pokemon {
      transform: translateY(5px);
      box-shadow: rgb(38, 57, 77) 0px 2px 5px -5px;
      transition: 0.5s;
    }
  }
}

.pokemon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -10px;
  transition: var(--transitionTime);
  background-color: var(--background-secondary);
}

.types {
  height: 25px;

  img {
    width: 25px;
  }
}

.pokemon-sprites {
  img {
    width: 150px;
    display: none;
  }
}

.pokemon-id {
  font-size: 2rem;
  font-weight: 600;
}

.pokemon-name {
  font-weight: 600;
}

p {
  text-align: center;
}

/* shinydex condition */
.filtered-dex {

  .types img {
    display: none;
  }

  .pokemon-sprites img {
    filter: brightness(0%);
  }

  .pokemon-name {
    display: none;
  }
}

#dex-completion {
  border: 1px solid var(--darkblue);
  width: 80%;
  height: 50px;
  margin-bottom: 50px;
  align-self: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#completion-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background-color: #B9E7FF;
}

#searchPokemons-container {
  display: flex;
  align-self: center;
  margin-bottom: 50px;
  height: 40px;
  border: 1px solid var(--darkblue);
  align-items: center;
  width: 60%;
  min-width: 250px;
  border-radius: 15px;
  background-color: ghostwhite;
  transition: var(--transitionTime);

  #searchPokemons {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
    border-radius: 8px 15px 15px 8px;
    background-color: white;
    background-color: ghostwhite;
    transition: var(--transitionTime);
  }
}

.nb-captures {
  position: absolute;
  top: 15%;
  right: 10px;
  background-color: var(--darkblue);
  border: 1px solid var(--darkblue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 0.7rem;
  font-weight: 600;
}