:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
  --custom-ball-size: 40px;
}

#pokedex-content {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -10px;
  transition: var(--transitionTime);
  cursor: pointer;

  &:hover {
    transform: translateY(5px);
    box-shadow: none;
    transition: 0.8s;
  }
}

.types {
  img {
    width: 25px;
  }
}

.pokemon-sprites {
  img {
    width: 150px;
    display: none;
  }
}

.pokemon-id {
  font-size: 2rem;
  font-weight: 600;
}