main span {
  font-weight: 600;
  /* color: var(--primary-color); */
}

#activity hr {
  margin: .5rem auto;
  width: 80%;
}

.activity-capture {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  img {
    height: 2rem;
  }
}

#user-infos {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);

  background-color: var(--cardSecondaryColor);
  box-shadow: var(--primary-color) 3px 3px 10px -5px;
  padding: 15px;

  &>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 0.2rem 0;
  }

  figure img {
    max-height: 100%;
    max-width: 100%;
  }

  #user-basics-info {
    text-align: center;
  }

  #links {
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;

    a {
      font-weight: 600;
      margin: 5px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 5px 15px;
      height: 30px;
    }

    #shinydex-link,
    #captures-link {
      background-color: var(--buttonsColor);
      color: white;
    }

    .accept-demand {
      color: var(--buttonsColor);
      background-color: white;
      border: 1px solid var(--buttonsColor);
    }

    .refuse-demand {
      background-color: var(--secondary-color);
      transition: var(--transitionTime);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--primary-color);

      i {
        position: absolute;
        font-size: 1.5rem;
        text-align: center;
        color: transparent;
        transition: var(--transitionTime);
      }

      p {
        color: var(--primary-color);
        transition: var(--transitionTime);
      }

      &:hover {
        color: white;
        background-color: var(--dangerred);
        border-color: transparent;

        p {
          color: transparent;
        }

        i {
          color: white;
        }
      }
    }

    .accept-demand-condition {
      display: flex;
    }
  }
}

#dex-completion {
  border: 1px solid var(--primary-color);
  width: 80%;
  height: 50px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#completion-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background-color: var(--secondary-color);
}

#edit-account {
  display: flex;
  justify-content: space-evenly;

  &>* {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid var(--blue-main);
    font-size: 1rem;
    cursor: pointer;
  }

  button {
    color: var(--blue-main);
    background-color: var(--background-color);
  }

  .del-account-btn {
    color: var(--red-main);
    border-color: var(--red-main);
  }
}

@media (min-width: 850px) {
  #user-infos {
    figure {
      grid-column: 1/3;
      grid-row: 1/4;
    }

    #user-basics-info {
      grid-column: 3/6;
      grid-row: 1;
    }

    #dex-completion-container {
      grid-column: 3/9;
      grid-row: 2/4;
    }

    #links {
      grid-column: 6/9;
      grid-row: 1;
    }
  }
}

@media (max-width: 900px) {
  #user-infos {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 850px) {
  #user-infos {
    figure {
      grid-column: 1/3;
      grid-row: 1/4;
    }

    #user-basics-info {
      grid-column: 3/9;
      grid-row: 1;
    }

    #dex-completion-container {
      grid-column: 3/9;
      grid-row: 3;
    }

    #links {
      grid-column: 3/9;
      grid-row: 2;
    }
  }
}

@media (max-width: 600px) {
  #user-infos {
    figure {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    #dex-completion-container {
      grid-column: 1/9;
      grid-row: 3;
    }
  }
}

@media (max-width: 500px) {
  #user-infos {
    figure {
      grid-column: 1/3;
      grid-row: 1;
    }

    #user-basics-info {
      grid-column: 3/9;
      grid-row: 1;
    }

    #dex-completion-container {
      grid-column: 1/9;
      grid-row: 3;
    }

    #links {
      grid-column: 1/9;
      grid-row: 2;
    }
  }
}