main form {
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  width: 50%;
  min-width: 300px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  box-shadow: var(--primary-color) 0px 2px 5px 0px;

  input {
    width: 100%;
    padding: 3px;
    margin: 10px 0;
  }

  label {
    cursor: pointer;
  }

  li{
    color: var(--red-main);
    font-size: 0.8rem;
  }

  .checkbox {
    margin: 10px 0;

    input {
      width: auto;
      margin: 0;
    }
  }

  .checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    input {
      width: fit-content;
      margin: 10px 0;
    }
  }

  button {
    font-weight: 600;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
  }
}