:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
  --custom-ball-size: 40px;
}

#my-actives {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#my-other-shasses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  #stop-suivi-tip {
    color: red;
    font-weight: 600;
  }
}

#shassesTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  thead {
    background-color: var(--darkblue);
    color: white;
  }

  tbody {
    tr {
      &:nth-child(2n+1) {
        background-color: var(--lightblue);
      }

      &:nth-child(2n) {
        background-color: white;
      }
    }
  }

  tr {
    position: relative;
  }

  td {
    vertical-align: middle;
  }

  th {
    padding: 10px 0;
  }

  .td-pokemon-name {
    text-align: start;
    padding-left: 10px;
  }

  .td-pokemon-img {
    text-align: end;

    img {
      height: 50px;
    }
  }
}

.add_suivi {
  color: white;
  background-color: var(--darkblue);
  padding: 5px 10px;
  border-radius: 12px;
  margin: 10px 0;
}

#modalNav {
  button {
    border: none;
    background-color: white;
  }

  i {
    font-size: 1rem;
  }
}

#new-shasse {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 15px;
  border-radius: 20px;

  form {
    display: flex;
    width: 100%;
    flex-direction: column;

    div {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
    }

    label {
      font-weight: 600;
    }

    .chroma-container {
      align-self: center;
    }

    input,
    select {
      border: 1px solid var(--darkblue);
      border-radius: 5px;
      padding: 5px;
    }
  }

  /* ////////////// SUBMIT BUTTON ////////////// */
  .submit-btn {
    overflow: hidden;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    position: relative;
    display: inline-block;

    min-width: 50%;
    padding: 5px;
    align-self: center;
    background-color: var(--lightblue);
    box-shadow: var(--darkblue) 0px 50px 100px -20px, var(--darkblue) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid var(--darkblue);
    border-radius: 5px;
  }

  .submit-btn span {
    display: block;
    position: relative;
    z-index: 1;
  }

  .submit-btn>span {
    overflow: hidden;
  }

  .submit-btn:hover {
    color: white;

    &>span {
      mix-blend-mode: difference;
    }
  }

  .submit-btn:hover>span>span {
    animation: MoveRightInitial 0.1s forwards, MoveRightEnd 0.3s forwards 0.2s;
  }

  @keyframes MoveRightInitial {
    to {
      transform: translate3d(105%, 0, 0);
    }
  }

  @keyframes MoveRightEnd {
    from {
      transform: translate3d(-100%, 0, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .submit-btn::before,
  .submit-btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: '';
    background: var(--darkblue);
  }

  .submit-btn::before {
    width: 135%;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    transform: translate3d(-100%, 0, 0);
  }

  .submit-btn:hover::before {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }

  .submit-btn::after {
    width: 105%;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }

  .submit-btn:hover::after {
    transform: translate3d(0, 0, 0);
    transition: transform 0.01s 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
}

@media (max-width: 700px) {
  #new-shasse {
    width: 90%;

    label {
      padding-right: 5px;
    }

    input,
    select,
    button {
      max-width: 50%;
    }
  }
}

@media (max-width: 500px) {
  #new-shasse {
    div {
      flex-direction: column;
    }

    .chroma-container,
    .chroma-container div {
      flex-direction: row;
    }

    input,
    select,
    button {
      width: 80%;
      max-width: 80%;
      align-self: center;
    }
  }
}

@media (min-width: 700px) {
  label {
    padding-right: 20px;
  }
}