:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
  --custom-ball-size: 40px;
}

#my-actives {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#my-other-shasses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#shassesTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  thead {
    background-color: var(--darkblue);
    color: white;
  }

  tbody {
    tr {
      &:nth-child(2n+1) {
        background-color: var(--lightblue);
      }

      &:nth-child(2n) {
        background-color: white;
      }
    }
  }

  tr {
    position: relative;
  }

  td {
    vertical-align: middle;
  }

  th {
    padding: 10px 0;
  }

  .td-pokemon-name {
    text-align: start;
    padding-left: 10px;
  }

  .td-pokemon-img {
    text-align: end;

    img {
      height: 50px;
    }
  }
}

.add_suivi {
  color: white;
  background-color: var(--darkblue);
  padding: 5px 10px;
  border-radius: 12px;
  margin: 10px 0;
}

#modalNav {
  button {
    border: none;
    background-color: white;
  }

  i {
    font-size: 1rem;
  }
}

dialog {
  margin: auto;
  min-width: 25%;
  border-color: var(--darkblue);

  #dialog-content {

    padding: 20px;
    text-align: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;



      div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        &>button i {
          font-size: 2rem;
          margin: 0 10px;
        }

        div {
          display: block;
          width: auto;
          margin: 0;

          i {
            margin-right: 10px;
          }
        }

        &:last-of-type {
          justify-content: center;
        }


      }

      input {
        justify-self: flex-end;
      }
    }
  }
}