:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
  --custom-ball-size: 40px;
}

#my-actives {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#my-other-shasses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#shassesTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  thead {
    background-color: var(--darkblue);
    color: white;
  }

  tbody {
    tr {
      &:nth-child(2n+1) {
        background-color: var(--lightblue);
      }

      &:nth-child(2n) {
        background-color: white;
      }
    }
  }

  tr {
    position: relative;
  }

  td {
    vertical-align: middle;
  }

  th {
    padding: 10px 0;
  }

  .td-pokemon-name {
    text-align: start;
    padding-left: 10px;
  }

  .td-pokemon-img {
    text-align: end;

    img {
      height: 50px;
    }
  }
}

.add_suivi {
  color: white;
  background-color: var(--darkblue);
  padding: 5px 10px;
  border-radius: 12px;
  margin: 10px 0;
}

#modalNav {
  button {
    border: none;
    background-color: white;
  }

  i {
    font-size: 1rem;
  }
}

#new-shasse {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 15px;
  border-radius: 20px;

  form {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
    }

    label {
      padding-right: 20px;
      font-weight: 600;
    }

    .chroma-container {
      align-self: center;
    }

    input,
    select {
      border: 1px solid var(--darkblue);
      border-radius: 5px;
      padding: 5px;
    }

    #submit-new-shasse {
      background-color: var(--lightblue);
      box-shadow: var(--darkblue) 0px 50px 100px -20px, var(--darkblue) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      cursor: pointer;
    }
  }
}