:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
  --custom-ball-size: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1.2em;
  font-family: "Chocolate Classical Sans", sans-serif;
}

html {
  letter-spacing: -0.2px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* supprimer les flèches des inputs number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.fa-circle-check {
  color: green;
  cursor: pointer;
}

.fa-circle-xmark,
.fa-trash-can {
  color: red;
  transition: var(--transitionTime);
  font-size: 1.2rem;

  &:hover {
    transform: scale(1.2);
  }
}

.hidden {
  display: none;
}

.main-blur {
  filter: blur(5px);
}

hr {
  width: 60%;
  height: 1px;
  margin: auto;
  border: none;
  background: linear-gradient(to right, var(--lightblue), var(--darkblue), var(--lightblue));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--darkblue);
  background-color: rgba(255, 255, 255, 0.7);
  /* background-color: #ccc; */
  backdrop-filter: blur(5px);
  z-index: 10;

  #nav-header {
    display: flex;
    align-items: center;
    height: 100%;

    ul {
      display: flex;

      li {
        padding: 0 10px;
      }
    }
  }

  i {
    font-size: var(--custom-ball-size);
    color: var(--darkblue);
    cursor: pointer;
  }
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;

  svg {
    transition: var(--transitionTime);
  }

  #logo-title {
    font-family: "Concert One", sans-serif;
    color: var(--darkblue);
  }

  &:hover svg {
    transform: scale(1.2);
  }
}

/* ////////////////////// light & dark mode ////////////////////// */
.l_d_mode {
  display: flex;
}

.l_d_mode-main {
  display: none;
}

.l_d_mode,
.l_d_mode-main {

  label {
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 40px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }

  label:after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 36px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  input:checked+label {
    background: #242424;
  }

  input:checked+label:after {
    left: 98px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }

  label,
  label:after {
    transition: var(--transitionTime)
  }

  label:hover:after {
    width: 40px;
  }

  label:active:after {
    width: 52px;
  }

  label i {
    position: absolute;
    font-size: 1.5rem;
    top: 8px;
    z-index: 2;
  }

  label i.fa-sun {
    left: 7px;
    color: #fff;
    transition: var(--transitionTime);
  }

  label i.fa-moon {
    right: 10px;
    color: #7e7e7e;
    transition: var(--transitionTime);
  }

  input:checked+label i.fa-sun {
    color: #7e7e7e;
  }

  input:checked+label i.fa-moon {
    color: #fff;
  }
}

/* ///////////////// header-profile ///////////////// */

#header-profile {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 40px 8px 15px;
  background-color: var(--darkblue);
  border-radius: 15px 0 0 15px;
  /* margin from 50% figure 60px absolute */
  margin-right: 30px;
  transition: var(--transitionTime);
  cursor: pointer;

  &:hover {
    padding: 12px 40px 12px 15px;
  }

  p {
    color: white;
  }

  figure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    height: 60px;
    width: 60px;
    transform: translateX(50%);
    background-color: var(--darkblue);
    border-radius: 50%;

    img {
      background-color: white;
      border-radius: 50%;
      height: 80%;
      overflow: hidden;
    }
  }
}

.header-link {
  display: none;
}

.profile-link {
  display: block;
}

#profile-caret {
  font-size: 1.5rem;
  margin-left: 5px;
  transition: var(--transitionTime);
  transform: rotate(-90deg);
  cursor: pointer;
}

#profile-nav {
  position: absolute;
  bottom: -20px;
  right: 20px;
  transform: translate(170%, 50%) rotate(45deg);
  display: flex;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  z-index: -1;
  transition: var(--transitionTime);

  li {
    width: 100%;
    color: var(--darkblue);
    display: flex;

    a {
      display: block;
      padding: 8px 25px;
      width: 100%;

      &:hover {
        background-color: var(--lightblue);
      }
    }
  }
}

#main-wrapper {
  width: 90%;
  flex: 1 0 auto;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  transition: var(--transitionTime);
  /* min-height calc dans base.js */
}

main {
  position: relative;
  width: 100%;
}

/* //////////////////// SIDE NAV //////////////////// */
#main-side-nav {
  position: fixed;
  top: 80px;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-right: 1px solid var(--darkblue);
  transition: var(--transitionTime);
  background-color: white;

  div {
    padding: 10px 30px;
    width: 100%;

    ul {
      padding: 5px 0 0 30px;
      width: 100%;

      li {
        height: fit-content;
        width: 100%;

        .nav-link {
          display: block;
          width: 100%;
          padding: 5px 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    h3 {
      color: var(--darkblue);
    }
  }

  #toggle-nav-btn {
    font-size: 3rem;
    color: var(--darkblue);
    position: absolute;
    top: 10%;
    right: 0;
    background-color: white;
    cursor: pointer;
    transition: var(--transitionTime);
    transform: translateX(60%);
    border-radius: 50%;

    &:hover {
      /* transform: translateX(100%); */
    }
  }
}

.toggle-nav {
  left: 0;
}

.hide-nav {
  left: -300px;
}

.chroma-container {
  display: flex;
  align-items: center;

  img {
    width: 50px;
  }
}

h1,
h2,
h3 {
  font-family: "Concert One", "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
}

h1 {
  margin: 40px 0;
  text-align: center;
  font-size: 2.3rem;
}

h2 {
  margin: 20px 50px;
}

/* dans pokedex & pokemonDetails */
#shiny-mode {
  background: none;
  border-radius: 50%;
  border: 2px solid var(--darkblue);
  overflow: hidden;
  cursor: pointer;
  transition: var(--transitionTime);
  position: sticky;
  transform: translateX(-100%);
  top: 15%;
}

/* /////////////// footer /////////////// */
footer {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 8;
  background-color: var(--lightblue);
  gap: 20px;
  padding: 20px 0;

  section {
    display: flex;
  }

  #footer-content {
    justify-content: space-evenly;
    text-align: center;

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      gap: 10px;

      svg {
        font-size: 10rem;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      a {
        display: flex;
        font-size: 2rem;
        margin: 5px;
      }
    }
  }

  #footer-base {
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;

    #legal-mentions {
      color: var(--darkblue);
      text-decoration: underline;
    }
  }

  i {
    transition: var(--transitionTime);
    color: var(--darkblue);

    &:hover {
      color: black;
    }
  }
}

@media (min-width: 1200px) {

  #toggle-nav-btn {
    display: none;
  }

  .main-blur {
    filter: blur(0);
  }

  #main-wrapper {
    padding-left: 300px;
  }

  #main-side-nav {
    left: 0px;
  }

  .header-link {
    display: block;
  }

  .profile-link {
    display: none;
  }
}

@media (min-width: 1400px) {
  #main-wrapper {
    width: 80%;
  }
}

@media (min-width: 900px) {
  header {
    padding: 0 20px;
  }

  .l_d_mode {
    display: none;
  }

  .l_d_mode-main {
    display: flex;
  }

  #footer-content {
    min-width: 60%;
  }
}

@media (max-width: 900px) {
  header {
    padding: 0 10px;
  }

  h2 {
    margin: 20px;
  }

  #main-wrapper {
    width: 100%;
  }

  #footer-content {
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  header {
    padding: 0 10px 0 0;
  }

  #logo-container {
    transform: scale(0.8);
  }

  #footer-content {
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }

  #footer-base {
    gap: 5px;
  }
}