:root {
  --darkblue: #003BB3;
  --lightblue: #B9E7FF;
  --transitionTime: 0.3s;
  --custom-ball-size: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1.2em;
  font-family: "Chocolate Classical Sans", sans-serif;
}

html {
  letter-spacing: -0.2px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  border-bottom: 1px solid var(--darkblue);
  background-color: rgba(255, 255, 255, 0.7);
  /* background-color: #ccc; */
  backdrop-filter: blur(5px);
  z-index: 10;

  #nav-header {
    display: flex;
    align-items: center;
    height: 100%;

    ul {
      display: flex;

      li {
        padding: 0 10px;
      }
    }
  }

  i {
    font-size: var(--custom-ball-size);
    color: var(--darkblue);
    cursor: pointer;
  }
}

#l_d_mode {
  display: flex;
  border: 1px solid black;
}

#search {
  display: flex;
  min-width: 250px;
  width: 25%;
  border-radius: 15px;
  height: 40px;
  border: 1px solid black;
  overflow: hidden;
  align-items: center;
  background-color: var(--lightblue);

  input {
    padding-left: 10px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: var(--lightblue);
  }

  #search-img-container {
    height: 80%;
    width: 50px;
    background-image: url(../img/zarbi-int-shiny.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
  }
}

#header-profile {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 40px 8px 15px;
  background-color: var(--darkblue);
  border-radius: 15px 0 0 15px;
  /* margin from 50% figure 60px absolute */
  margin-right: 30px;
  transition: var(--transitionTime);
  cursor: pointer;

  &:hover {
    padding: 12px 40px 12px 15px;
  }

  p {
    color: white;
  }

  figure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    height: 60px;
    width: 60px;
    transform: translateX(50%);
    background-color: var(--darkblue);
    border-radius: 50%;

    img {
      background-color: white;
      border-radius: 50%;
      height: 80%;
      overflow: hidden;
    }
  }
}

#profile-caret {
  font-size: 1.5rem;
  margin-left: 5px;
  transition: var(--transitionTime);
  transform: rotate(-90deg);
  cursor: pointer;
}

#profile-nav {
  position: absolute;
  bottom: -20px;
  right: 20px;
  transform: translate(150%, 50%) rotate(45deg);
  display: flex;
  padding: 10px 15px;
  background-color: #f2f2f2;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  z-index: -1;
  transition: var(--transitionTime);

  li {
    width: 100%;
    padding: 8px 25px;
    color: var(--darkblue);

    &:hover {
      background-color: var(--lightblue);
    }
  }
}

#main-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-left: 200px;
  margin-top: 80px;
}

main {
  width: 80%;
}

#main-side-nav {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-right: 1px solid var(--darkblue);

  div {
    padding: 10px 0 10px 20px;

    ul {
      padding: 5px 0 0 10px;

      li {
        margin: 5px 0;
      }
    }

    h3 {
      color: var(--darkblue);
    }
  }
}

.nav-link:hover {
  text-decoration: underline;
}


.chroma-container {
  display: flex;
  align-items: center;

  img {
    width: 50px;
  }

  input {
    transform: translateY(50%);
  }
}

dialog {
  margin: auto;
  min-width: 25%;
  border-color: var(--darkblue);

  #dialog-content {

    padding: 20px;
    text-align: center;
  }
}