:root {
  --primary-color: #002a7e;
  --secondary-color: #B9E7FF;
  --background-color: white;
  --background-secondary: white;

  --background-dark-main: #333333;
  --background-light-main: white;
  --darker: #222222;

  --dark-secondary-full: #444444;
  --dark-secondary: rgba(68, 68, 68, 0.7);
  --light-secondary: rgba(255, 255, 255, 0.7);
  --light-secondary-full: whitesmoke;

  --hover-main-color: #cccccc;

  --darkblue: #002a7e;
  --bluemedium: #84a3e1;
  --lightblue: #dcf2ff;

  --darkred: #d10000;
  --redmedium: #ff6b6b;
  --lightred: #ffe0e0;

  --black: black;
  --yellow: #F4A32C;
  --white: ghostwhite;

  --gradient: linear-gradient(to right, var(--secondary-color), var(--primary-color), var(--secondary-color));

  --cardColor: var(--white);
  --cardSecondaryColor: var(--white);
  --dark-card-color: #cccccc;

  --font-main-color: black;
  --blue-main: #002a7e;
  --red-main: #d10000;

  --dangerred: var(--darkred);
  --buttonsColor: var(--blue-main);

  --transitionTime: 0.3s;
  --custom-icons-size: 20px;

  /* l/d buttons */
  --color-selection-width: 130px;
  --color-selection-toggle-button-dimension: 38px;
  --color-selection-padding: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1.2em;
  font-family: "Chocolate Classical Sans", sans-serif;
}

html {
  letter-spacing: -0.2px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  color: var(--font-main-color);

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--hover-main-color);
    border-radius: 5px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: var(--secondary-color);
  }

  &::-webkit-scrollbar-thumb {
    min-height: 50px;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--hover-main-color);
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    border: var(--primary-color);
  }
}

body,
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  transition: background-color var(--transitionTime);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.asterisk{
  color: var(--red-main);
}

/* supprimer les flèches des inputs number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/*  */

.fa-circle-check {
  color: green;
  cursor: pointer;
}

.fa-circle-xmark,
.fa-trash-can {
  color: var(--red-main);
  transition: var(--transitionTime);
  font-size: 1.2rem;

  &:hover {
    transform: scale(1.5);
  }
}

.main-blur {
  filter: blur(10px);
}

hr {
  width: 60%;
  height: 1px;
  margin: auto;
  border: none;
  background: var(--gradient);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
}

.chroma-container {
  display: flex;
  align-items: center;

  img {
    width: 50px;
  }
}

.pseudo {
  font-weight: 600;
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Concert One", "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
}

h1 {
  margin: 40px 0;
  text-align: center;
  font-size: 2.3rem;
}

h2 {
  margin: 80px 50px 30px 50px;
}

button {
  cursor: pointer;
}

/* ------------------ CUSTOM POKEBALL ------------------ */
.custom-pokeball {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--custom-icons-size);
  height: var(--custom-icons-size);
  border-radius: 50%;
  border: 2px solid var(--primary-color);

  /* box sizing counter effect */
  box-sizing: initial;
  transition: transform var(--transitionTime);

  * {
    box-sizing: initial;
  }

  .pokeball-circle {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: var(--background-secondary);
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    z-index: 2;
  }

  .pokeball-center {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: 3;
  }

  .pokeball-line {
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: var(--primary-color);
    z-index: 1;
  }

  &:hover {
    transform: scale(1.5) rotate(-15deg);
  }
}

/* -------------------ANIMATED BUTTONS------------------ */
.main-animated-button {
  background: linear-gradient(to left, var(--blue-main) 50%, var(--cardSecondaryColor) 50%);
  background-size: 200% 100%;
  background-position: right;
  color: white;
  border: 1px solid var(--blue-main);
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-position: left;
    color: var(--blue-main);
  }
}

.delete-animated-button {
  background: linear-gradient(to right, var(--red-main) 50%, var(--cardSecondaryColor) 50%);
  background-size: 200% 100%;
  background-position: right;
  color: var(--red-main);
  border: 1px solid var(--red-main);
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-position: left;
    color: var(--background-color);
  }
}

.secondary-animated-button {
  background: linear-gradient(to right, var(--blue-main) 50%, var(--cardSecondaryColor) 50%);
  background-size: 200% 100%;
  background-position: right;
  color: var(--blue-main);
  border: 1px solid var(--blue-main);
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-position: left;
    color: var(--background-color);
  }
}

/* dans pokedex & pokemonDetails */
#shiny-mode {
  margin: 5px;
  background: none;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
  overflow: hidden;
  cursor: pointer;
  transition: var(--transitionTime);
  position: sticky;
  top: 15%;
  z-index: 5;
}

/* iframes */
.iframe-container {
  position: relative;
  z-index: 2;
}

iframe {
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

#pokemon-dance {
  position: fixed;
  top: 100%;
  left: 100%;
  max-width: 300px;
  width: 20%;
  height: auto;
  transition: 0.5s;
}

.show {
  transform: translate(-100%, -100%);
}

/* -------------------MODALS------------------ */
.modalNav {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
  }

  i {
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transitionTime);

    &:hover {
      transform: scale(1.2);
    }
  }

  .delete-link,
  .delete-link button {
    color: var(--dangerred);
    padding: 5px 10px;
    border-radius: 5px;

    &:focus {
      outline: none;
    }

    &:hover {
      box-shadow: 0 0 5px var(--dangerred);
    }
  }

  .cancelBtn {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
  }

  .close-btn {
    color: var(--darkred);
    border: none;
  }
}

dialog {
  margin: auto;
  min-width: 25%;
  max-width: 700px;
  width: fit-content;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  box-shadow: var(--primary-color) 0px 2px 5px 0px;
  background-color: var(--cardColor);
  color: black;
  overflow: visible;

  .dialog-content {
    padding: 20px;
    text-align: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px 0;

        &>button i,
        &>i {
          font-size: 2rem;
          margin: 0 10px;
        }

        div {
          display: block;
          width: auto;
          margin: 0;

          i {
            margin-right: 10px;
          }
        }

        &:last-of-type {
          justify-content: center;
        }
      }

      input {
        justify-self: flex-end;
      }

      ul {
        order: 1;

        li {
          color: var(--red-main);
          font-size: 0.8rem;
        }
      }
    }
  }
}

#avatarDialog {
  #avatar-preview {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: var(--primary-color);
    border-radius: 50%;

    img {
      background-color: var(--secondary-color);
      border-radius: 50%;
      height: 90%;
      width: 90%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }

    .avatar-container {
      flex-direction: column;

      &>* {
        width: fit-content;
      }

      label {
        align-self: center;
      }
    }
  }
}

/* ---------------- PAGINATION --------------- */
.pagination {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 5px;

  span {
    display: flex;
    font-weight: 600;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    a {
      padding: 10px;
      background-color: var(--secondary-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .current {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px;
  }
}

/* -------------------HEADER------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--background-secondary);

  backdrop-filter: blur(5px);
  z-index: 10;
  transition: var(--transitionTime);

  #nav-header {
    display: flex;
    align-items: center;
    height: 100%;

    ul {
      display: flex;
      align-items: center;
      gap: 15px;
      margin: 0 15px;
      flex-wrap: wrap;
      justify-content: end;
    }

    i {
      font-size: var(--custom-icons-size);
      color: var(--primary-color);
      cursor: pointer;
      transition: var(--transitionTime);

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;

  svg {
    transition: var(--transitionTime);
  }

  #logo-title {
    font-family: "Concert One", sans-serif;
    color: var(--primary-color);
  }

  &:hover svg {
    transform: scale(1.2);
  }
}

.messagerie-header-link {
  position: relative;

  .new-messages-header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 4px;
    color: var(--white);
    background-color: red;
    border-radius: 8px;
    font-size: 0.7rem;
    font-weight: 600;
    transform: translate(25%, -25%);
  }
}

.header-link .new-messages-header {
  transform: translate(50%, -50%);
}

/* ------------------- SEARCH ------------------ */
#search-profile {
  display: none;
  margin: 10px 0;
}

#search-header {
  display: flex;
}

#search-profile,
#search-header {
  height: 40px;
  border: 1px solid var(--primary-color);
  align-items: center;
  width: 25%;
  min-width: 250px;
  border-radius: 15px;
  background-color: ghostwhite;
  transition: var(--transitionTime);

  .search-input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
    border-radius: 8px 15px 15px 8px;
    background-color: white;
    background-color: ghostwhite;
    transition: var(--transitionTime);

    &:focus {
      outline: none;
      border: 2px solid var(--secondary-color);
      box-shadow: 0 0 5px var(--secondary-color);
    }
  }
}

.search-img-container {
  height: 80%;
  width: 40px;
  background-image: url(../img/zarbi-int-shiny.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#search-results {
  position: absolute;
  background-color: ghostwhite;
  bottom: -5px;
  transform: translate(-50%, 100%);
  left: 50%;
  right: 0;
  min-width: 300px;
  max-width: 800px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;

  }

  &::-webkit-scrollbar-track:hover {
    background-color: var(--secondary-color);
  }

  &::-webkit-scrollbar-thumb {
    min-height: 50px;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid white;
  }

  &::-webkit-scrollbar-thumb:hover {
    border: var(--primary-color);
  }

  ul {
    width: 100%;
    padding: 10px 5px;

    li {
      border-bottom: 1px solid black;
      font-weight: 600;

      &:last-of-type {
        border: none;
      }
    }
  }

  p {
    min-height: 25px;
  }

  .search-result {
    color: var(--primary-color);
    padding: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  .search-title {
    color: black;
    padding-left: 5px;
    text-align: center;
  }

  span {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;

    i {
      color: var(--dangerred);
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 700px) {
  #search-header {
    display: none;
  }

  #search-profile {
    display: flex;
  }
}

@media (max-width: 400px) {
  #header-profile {
    padding: 0;

    p {
      display: none;
    }
  }
}

/* -------------------HEADER PROFILE------------------ */
#header-profile {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 40px 8px 15px;
  background-color: var(--primary-color);
  border-radius: 15px 0 0 15px;
  /* margin from 50% figure 60px absolute */
  margin-right: 30px;
  transition: var(--transitionTime);
  cursor: pointer;
  z-index: 10;

  p {
    color: var(--background-color);
    font-weight: 600;
  }

  figure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    height: 60px;
    width: 60px;
    transform: translateX(50%);
    background-color: var(--primary-color);
    border-radius: 50%;

    img {
      height: 80%;
      width: 80%;
      background-color: var(--secondary-color);
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }
  }
}

.header-link {
  display: none;
}

.profile-link {
  display: block;
}

#profile-caret {
  font-size: 1.5rem;
  margin-left: 5px;
  transition: var(--transitionTime);
  transform: rotate(-90deg);
  cursor: pointer;
}

#profile-nav {
  position: absolute;
  bottom: -20px;
  right: 20px;
  min-width: 200px;
  transform: translate(170%, 50%) rotate(45deg);
  display: flex;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--cardSecondaryColor);
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  z-index: 8;
  transition: var(--transitionTime);

  li {
    width: 100%;
    color: var(--primary-color);
    display: flex;
    border-top: 1px solid var(--hover-main-color);

    a {
      display: block;
      padding: 8px 25px;
      width: 100%;

      &:hover {
        background-color: var(--hover-main-color);
      }
    }
  }
}

/* ------------------- LIGHT / DARK ------------------ */
.l_d_mode {
  display: flex;
}

.l_d_mode-main {
  display: none;
}

.l_d_mode-main,
.l_d_mode {
  position: relative;
  width: var(--color-selection-width);
  justify-content: space-around;
  align-items: center;
  background: var(--background-secondary);
  border-radius: 30px;
  padding: var(--color-selection-padding);
  box-shadow: inset 0px 5px 15px var(--secondary-color), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  overflow: hidden;

  .toggle-label {
    display: flex;
    width: var(--color-selection-toggle-button-dimension);
    height: var(--color-selection-toggle-button-dimension);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    text-align: center;
    font-size: 1.5rem;
  }

  .toggle-button {
    position: absolute;
    left: -50px;
    width: var(--color-selection-toggle-button-dimension);
    height: var(--color-selection-toggle-button-dimension);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: var(--transitionTime);
    transform: translateX(-50%);
    background: linear-gradient(180deg, var(--secondary-color), var(--primary-color));
  }

  input {
    display: none;

    &:checked+.toggle-label {
      color: var(--background-color);
    }
  }

  /* déplacement du button */
  #pokeball-toggle:checked~.toggle-button,
  #pokeball-toggle2:checked~.toggle-button {
    left: calc(var(--color-selection-padding) + ((var(--color-selection-width) - 2 * var(--color-selection-padding)) / 6));
  }

  #superball-toggle:checked~.toggle-button,
  #superball-toggle2:checked~.toggle-button {
    left: 50%;
  }

  #hyperball-toggle:checked~.toggle-button,
  #hyperball-toggle2:checked~.toggle-button {
    left: calc(100% - ((var(--color-selection-width) - 2 * var(--color-selection-padding)) / 6) - var(--color-selection-padding));
  }
}

/* ------------------- MAIN ------------------ */
#main-wrapper {
  width: 90%;
  flex: 1 0 auto;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  transition: var(--transitionTime);
  /* min-height calc dans base.js */
}

main {
  position: relative;
  width: 100%;
}

/* ------------------- SIDE NAV ------------------ */
#main-side-nav {
  position: fixed;
  top: 80px;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-right: 1px solid var(--primary-color);
  transition: var(--transitionTime);
  background-color: var(--background-secondary);
  backdrop-filter: blur(25px);
  text-align: end;
  direction: rtl;

  #side-wrapper {
    width: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--hover-main-color);
      border-radius: 5px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track:hover {
      background-color: var(--secondary-color);
    }

    &::-webkit-scrollbar-thumb {
      min-height: 50px;
      background-color: var(--primary-color);
      border-radius: 5px;
      border: 1px solid var(--hover-main-color);
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      border: var(--primary-color);
    }
  }

  div {
    padding: 10px 30px;
    width: 100%;

    ul {
      padding: 5px 0 0 30px;
      width: 100%;

      li {
        height: fit-content;
        width: 100%;

        .nav-link {
          display: block;
          width: 100%;
          padding: 5px 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    h3 {
      color: var(--primary-color);
    }
  }

  #toggle-nav-btn {
    font-size: 3rem;
    color: var(--primary-color);
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: var(--cardSecondaryColor);
    cursor: pointer;
    transition: var(--transitionTime);
    transform: translateX(60%);
    border-radius: 50%;
    z-index: 50;
  }
}

.toggle-nav {
  left: 0;
}

.hide-nav {
  left: -300px;
}

/* ------------------- FOOTER ------------------ */

footer {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
  opacity: 0.9;
  gap: 20px;
  padding: 20px 0;
  margin-top: 50px;

  section {
    display: flex;
  }

  #footer-content {
    justify-content: space-evenly;
    text-align: center;

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 50px 15px 50px;
      gap: 10px;

      svg {
        font-size: 10rem;
      }
    }

    #socials {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 20px;

        a {
          display: flex;
          font-size: 2rem;
        }

        i {
          transition: var(--transitionTime);
          color: var(--primary-color);

          &:hover {
            color: var(--font-main-color);
          }
        }
      }
    }
  }

  #footer-base {
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0;

    #legal-mentions,
    .conditions {
      color: var(--blue-main);
      text-decoration: underline;
    }
  }
}

/* -------------------SCROLLER------------------ */

.scroller {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 40;
  bottom: 8%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  font-size: 1.5em;
  transition: var(--transitionTime);

  i {
    color: var(--white);

    &:hover {
      transform: scale(1);
    }
  }

  &:hover {
    transform: translateY(-10px) scale(1.2);
    border-radius: 50%;
    transition: 0.2s;
  }
}

.hide-scroll {
  bottom: 0;
  transform: translateY(100%);
}

#pika-run {
  z-index: 9;
  position: absolute;
  transform: translateY(-100%);
  top: 0;
  left: 0;
  width: 150px;
}

.music-button {
  order: -1;
  border: none;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--hover-main-color);
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* ///////////////////////////////////////////////////////////////// */
/* /////////////////////////// KEYFRAMES /////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

.run-animation {
  animation: pika-run-animation 1s linear forwards;
}

@keyframes pika-run-animation {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

.loading-container {
  position: relative;
}

.loading {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--primary-color);
  animation: loading .5s linear infinite;
  z-index: 4;
}

.wait,
.wait * {
  cursor: wait;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ///////////////////////// NOTIFICATIONS ///////////////////////// */
.flash-message {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 18px;
  border-radius: 50px;
  width: 80%;
  max-width: 800px;
  background-color: var(--background-color);
  box-shadow: var(--primary-color) 0px 1px 2px 0px, var(--primary-color) 0px 2px 6px 2px;

  i {
    font-size: 2rem;
    cursor: pointer;
  }
}

.flash-notice {
  background-color: var(--secondary-color);
}

.remove {
  background-color: rgba(135, 45, 45, 0.792);
}

.disappear {
  animation-duration: 1.6s;
  animation-name: disappear;
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////// MEDIA QUERIES ///////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

/* /////////////// MIN /////////////// */
@media (min-width: 1650px) {
  #main-wrapper {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  #toggle-nav-btn {
    display: none;
  }

  .main-blur {
    filter: blur(0);
  }

  #main-wrapper {
    padding-left: 300px;
  }

  #main-side-nav {
    left: 0px;
  }

  .header-link {
    display: block;
  }

  #profile-nav .profile-link {
    display: none;
  }

  #shiny-mode {
    transform: translateX(-100%);
    align-self: flex-start;
  }

  footer{
    width: calc(100vw - 300px - 10px);
    align-self: flex-end;
  }
}

@media (min-width: 900px) {
  header {
    padding: 0 20px;
  }

  #main-wrapper {
    width: 90%;
  }

  .l_d_mode {
    display: none;
  }

  .l_d_mode-main {
    display: flex;
  }

  #footer-content {
    min-width: 80%;
  }
}

@media (min-width: 400px) {
  #header-profile:hover {
    padding: 12px 40px 12px 15px;
  }
}

/* /////////////// MAX /////////////// */

@media (max-width: 1200px) {
  #shiny-mode {
    align-self: flex-end;
  }
}

@media (max-width: 900px) {
  header {
    padding: 0 10px;
  }

  h2 {
    margin: 20px;
  }

  #main-wrapper {
    width: 100%;
  }

  #footer-content {
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  header {
    padding: 0 10px 0 0;
  }

  #logo-container {
    transform: scale(0.8);
  }

  #footer-content {
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }

  #footer-base {
    gap: 5px;
  }
}

@media (max-width: 400px) {
  #header-profile {
    padding: 0;
  }
}