* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1.2em;
}


html {
  letter-spacing: -0.2px;
  scroll-behavior: smooth;
}


/* body {
  min-height: 100vh;
  position: relative;
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}