{% extends 'base.html.twig' %}

{% block title %}
{% if app.user == user %}
Mes captures
{% else %}
Captures de {{user.pseudo}}
{% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/pkmn_card.css')}}">
<link rel="stylesheet" href="{{asset('css/captures.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/captureModal.js')}}"></script>
{% endblock %}

{% block body %}

<section id="my-captures">
  {% for capture in captures %}
  {# on utilise le template de pokemonCard pour afficher toutes les captures #}
  {% include '.custom/pokemonCard.html.twig' %}

  {% endfor %}
</section>

<dialog id="sendCaptureDialog">
  <div class="dialog-content">

<input type="hidden" id="" name="" value="">

  </div>
</dialog>


{% endblock %}