{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="css/pkmn_card.css">
<link rel="stylesheet" href="css/captures.css">
{% endblock %}

{% block body %}



<section id="my-captures">
  {% for capture in captures %}
  {# on utilise le template de pokemonCard pour afficher toutes les captures #}
  {% include '.custom/pokemonCard.html.twig' %}

  {% endfor %}
</section>


{% endblock %}