{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}

<div class="users">
    {% for pokemon in allPokemons %}
    <div class="pokemon">
        {{pokemon.name}}<br>
        <img src="{{pokemon.spriteN}}" alt="sprite de {{pokemon.name}}"><br>
    </div>

    {% endfor %}
</div>

{% endblock %}