{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="css/pokedex.css">
{% endblock %}

{% block body %}

<p>Trouvez votre prochaine shasse !</p>
<p>Sélectionnez un pokémon et accédez à toutes les infos utiles.</p>

<div id="pokedex-content">
  {% for pokemon in allPokemons %}

  {# on utilise le template de pokedexCard pour afficher tous les pokemons #}
  {% include '.custom/pokedexCard.html.twig' %}

  {% endfor %}
</div>

{% endblock %}