{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="css/pkmn_card.css">
<link rel="stylesheet" href="css/shasses.css">
{% endblock %}

{% block body %}

<section id="my-actives">
  <h3>Mes shasses suivies</h3>

  {% for capture in captures %}
  {% if capture.suivi %}

  {# on utilise le template de pokemonCard pour afficher toutes les shasses en cours #}
  {% include '.custom/pokemonCard.html.twig' %}

  {% endif %}
  {% endfor %}
</section>


<section id="new-shasse">
  <h3>Débuter une shasse</h3>
  {# créer une shasse #}



</section>


<section id="my-other-shasses">
  <h3>Liste de mes autres shasses</h3>

  {% for capture in captures %}
  {% if capture.suivi == false %}

  {# on utilise le template de pokemonCard pour afficher toutes les shasses en cours #}
  {% include '.custom/pokemonCard.html.twig' %}

  {% endif %}
  {% endfor %}
</section>

{% endblock %}